.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3f4655;
  width: 100%;
  bottom: 0;
  position: inherit;
  margin-top: 40vh;
}

.ulft {
  padding: 1vh;
}

.lift {
  text-decoration: none;
  list-style: none;
}
