.footer {
    height: 10%;
    background-color: #3f4655;
    bottom: 0;
    position: inherit;
    width: 100%;
}

ul {
    display: inline-flex;
    flex-direction: row;
}

li {
    text-decoration: none;
    list-style: none;
}