.footer {
    margin-top: 100vh;
    background-color: #3f4655;
    width: 100%;
    bottom: 0;
    position: inherit;
}

.ulft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lift {
    text-decoration: none;
    list-style: none;
}